<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Midas">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Midas urdf file -->
    <xacro:include filename="$(find Midas_robot_description)/Midas-Robot/robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Midas.ros2_control.xacro" />


    <xacro:Midas_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
